

html,body{
    height: 100%;
    margin: 0;
}

body{
    /*background-image: url(Assets/Bg.jpg);
    background-size: cover;*/
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*#game {
   background-color: black;
}



